.upload-container {
  margin: auto;
  padding-top: 30px;
  width: 500px;
}

.upload-container .error-msg {
  text-align: center;
  margin-top: 20px;
}

#upload-form .input .MuiTextField-root {
  width: 500px;
}

#upload-form .input {
  margin-bottom: 20px;
}

#upload-form .MuiTouchRipple-root {
  color: white;
}

#upload-form .MuiFormLabel-root {
  color: var(--grey) !important;
}

#upload-form .MuiButton-containedPrimary:not(.Mui-disabled) {
  background-color: var(--purple);
}

#upload-form .MuiOutlinedInput-notchedOutline {
  border-color: var(--grey) !important;
}
